body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 15px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #03045E;
    color: #1C3337;
    border-bottom: 6px solid #00B4D8;
    box-shadow: 12px 8px 10px 2px #0077B6;
}
.box {
    background-color: #CAF0F8;
    border-radius: 10px;
}